

#calculatorContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: black;
}

.calculatorDisplay {
    background-color: gray;
    margin: 10px 10px -10px 10px; 
    border-bottom: 5px solid;
    height: 100px;
}

.operandDisplay {
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    padding: 10px;
}


.numbersContainer {

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

button {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 1px;
    flex-grow: 1;
}


.operand,
.operator {
    width: 80px;
}

.zero {
    width: 160px;
}

.clear,
.backspace {
    width: 125px;
}

.operator,
.equals {
    background-color: orange;
}

.operand,
.zero,
.decimal {
    background-color: teal;
}

.clear,
.backspace {
    background-color: lightblue;
}
