

#calculatorContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: black;
}

.calculatorDisplay {
    background-color: gray;
    padding: 10px;
    margin: 10px 10px 0px 10px; 
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    border-bottom: 5px solid;
}


.numbersContainer {

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.operand,
.operator,
.zero,
.equals,
.clear {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: 1px;
    flex-grow: 1;
}


.operand,
.operator {
    width: 80px;
}

.zero {
    width: 241px;
}

.clear {
    width: 259px;
}
