.calculatorContainer,
.calculatorDisplay,
.number,
.operator,
.clearButton {
    border: 2px solid;

}

#calculatorContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}

.calculatorDisplay {
    margin: 25px;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.clearButton {
    text-align: center;
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: -20px;
    font-size: 30px;
}

.numbersContainer {
    margin: 0px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.number,
.operator {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}